# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**

##### List popular languages for Data Science

- Python
- R
- Scala
- Julia

#### Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia
4. Scala

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. Matplotlib
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter|
|R Studio|
|Spyder|
|Apache Zeppelin|

### This heading is in H3 Style as i used 3 ### symbols
### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(h)

3.3333333333333335

## Author
Sanker